<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSB Steganography</title>
</head>
<body>
    <h1>LSB Steganography</h1>
    <form action="/checkImage" method="post" enctype="multipart/form-data">
        <div>
            <label for="image">Image File:</label><br>
            <input type="file" id="image" name="image">
        </div>
        <button type="submit">View Text</button>
    </form>
</body>
</html>
